* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: url("../../Graphics/Top.png"), url(../../Graphics/Bottom.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center, right ;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    image-rendering: optimizeQuality;
    
}

.Desc {
    position: absolute;
    margin-top: 190px;
}

h1 {
    font-size: 50px;
    max-width: 650px;
    color: #002c7e;
}

img {
    margin-top: -45%;
    margin-left: -70%;
    height: 950px;
    image-rendering: optimizeQuality;
}

p {
    max-width: 500px;
    color: #b0b8e2;
}

.Desc p {
    margin-left: 60px;
    left: 40px;
}

.Desc img {
    position: relative;
    z-index: -1;
}

ul {
    position: absolute;
    right: 15px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: ease 0.3s;
}

.Navbar ul {
    display: flex;
}

li {
    margin: 20px;
}

a {
    transition: ease 0.3s;
}

.Side ul {
    position: absolute;
    right: 20px;
    margin-right: 45px;
    flex: none;
    margin-top: 150px;
}

.Side li button {
    margin-top: 15px;
    border: none;
}


button {
    margin-top: 25px;
    height: 75px;
    width: 225px;
    background-color: rgb(0, 0, 104);
    color: antiquewhite;
    border: none;
    border-radius: 8px;
    transition: ease 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 85%;
}

.Side img{
    height:75px;
    position: absolute;
    margin-left: -150px;
    margin-top: 10px;
}


button:hover {
    transform: scale(1.05);
    background-color: #51a7cf;
    opacity: 100%;
}


a:link {
    color: #c1c8f1;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #ecf2f5;
    background-color: transparent;
    text-decoration: none;
    transition: scale(1.05);
}

a:active {
    color: rgb(213, 216, 255);
}